extends layout

block head
  link(rel='stylesheet', href='/css/stop.css')

  script
    var stopID = !{stop}
    var agency = !{agency}
    
  script(src='js/stops.js')
  
block nav
  include partials/navagency
  include partials/navroute
  include partials/navstop
  
block body
  div
    div(ng-init='init(#{agency},"#{stopID}", #{routeID})' )
      
    div.row-fluid
      div.navbar
        ul.nav.nav-pills#navi-tabs
          li.active
            a(href='#map', data-toggle='tab').tabclick Map
          li
            a(href='#service', data-toggle='tab') Service
          li
            a(href='#people', data-toggle='tab', onClick='updateRadius()') People
          li
            a(href='#locale', data-toggle='tab', onClick='updateRadius()') Locale
            
    div(id="myTabContent",class="tab-content").container-fluid
      div#map.tab-pane.fade.in.active
        div.row-fluid
          div.span6
            h3.navbar-inner <i class="icon-globe"> </i> Map of transit stop
            #map-canvas
          div.span6
            h3.navbar-inner <i class="icon-globe"> </i> Streetview
            #street-canvas
        div.row-fluid
          d-Clus(val="routeStopResultsAll").span12
      div#service.tab-pane.fade.in
        include partials/sservice
      div#people.tab-pane.fade.in
        div.row-fluid
          div.span6
            label Search Radius (miles): 
              select#searchRadius(onChange='updateRadius(value)').radius
                option .25
                option .5
                option 1
            table.table.table-hover
              th <i class="icon-group"> </i> Demographic Information
              th
              tr
                td Total population
                td#totpop
              tr
                td Weighted population
                td#weightedpop
              tr
                td Total area
                td#totarea
              tr 
                td Search radius area
                td#searcharea
              tr
                td Per Capita Income
                td#percapitaincome
              th Businesses
              th
              tr
                td Number of restaurants
                td#numrest
          div.span6
            h3.navbar-inner <i class="icon-money"> </i> Household Income
            #income-chart.chart
        
          
        div.row-fluid
          div.span6
            h3.navbar-inner <i class="icon-bar-chart"> </i> Age Distribution
            #age-chart.chart
          div.span6
            h3.navbar-inner <i class="icon-globe"> </i> Racial Composition
            #race-chart.chart
          
      div#locale.tab-pane.fade.in
        div
          label Search Radius (miles): 
              select#searchRadius(onChange='updateRadius(value)').radius miles
                option .25
                option .5
                option 1
        div.row-fluid
          div.span6
            h3.navbar-inner <i class="icon-road"> </i> Means of Transportation to Work
            #workTransport-chart.chart
          div.span6
            h3.navbar-inner <i class="icon-road"> </i> Travel Time to Work
            #travel-chart.chart
        div.row-fluid
          div.span6
            h3.navbar-inner <i class="icon-truck"> </i> Employment Sector of Residents
            #employment-chart.chart
          div.span6
            h3.navbar-inner <i class="icon-food"> </i> Places to eat <a href='http://www.yelp.com'><img src='images/Powered_By_Yelp_Red.png' class=""></a>
            div#restlist
        div.row-fluid
          div.span6
            h3.navbar-inner <i class="icon-map-marker"> </i> Nearby land uses <a href='http://www.google.com'><img src='images/powered-by-google-on-white.png' class=""></a>
            div#goog-chart
          div.span6
            h3.navbar-inner <i class="icon-plus"> </i> Places of worship <a href='http://www.google.com'><img src='images/powered-by-google-on-white.png' class=""></a>
            div#relig-chart
    
    
      
    
  
  script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  script(src='http://code.highcharts.com/highcharts.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script
    $('.tool').tooltip({
      container : 'body'  
    })

  
