extends layout

block head
  script
    var stopID = !{stop}
    var agency = !{agency}
    
  script(src='js/stops.js')
  
block body
  div.row-fluid
    div.span6
      h4.navbar-inner.navbar-text Stop ID 
        span.label.label-important #{stopID}
        &nbsp; | &nbsp;
        span#stopname
        &nbsp; | &nbsp;
        a(href='#{website}', target='_blank') #{name}
      div#demographics
        table.table.table-hover
          th <i class="icon-group"> </i> Demographic Information
          th
          tr
            td Total population
            td#totpop
          tr
            td Weighted population
            td#weightedpop
          tr
            td Total area
            td#totarea
          tr 
            td Search radius area
            td#searcharea
          tr
            td Per Capita Income
            td#percapitaincome
          th Businesses
          th
          tr
            td Number of restaurants
            td#numrest
    div.span6
      h3.navbar-inner <i class="icon-road"> </i> Means of Transportation to Work
      #workTransport-chart.chart
  div.row-fluid
    div.span6
      h3.navbar-inner <i class="icon-road"> </i> Travel Time to Work
      #travel-chart.chart
    div.span6
      h3.navbar-inner <i class="icon-globe"> </i> Racial Composition
      #race-chart.chart
  div.row-fluid
    div.span6
      h3.navbar-inner <i class="icon-money"> </i> Household Income
      #income-chart.chart
    div.span6
      h3.navbar-inner <i class="icon-bar-chart"> </i> Age Distribution
      #age-chart.chart
  div.row-fluid
    div.span6
      h3.navbar-inner <i class="icon-truck"> </i> Employment Sector
      #employment-chart.chart
    div.span6
      h3.navbar-inner <i class="icon-globe"> </i> Map of transit stop
      #map-canvas
  div.row-fluid  
    div.span6
        h3.navbar-inner <i class="icon-food"> </i> Places to eat <img src='images/powered-by-google-on-white.png' class="">
        ul#restlist.unstyled
      
    
  
  script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highcharts/2.3.5/highcharts.js')
  
